body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #000;
}

.scroll-container {
  height: 500vh; /* Make the page scrollable */
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
